

.container ul li{
    width: 150px;
    height: 50px;
    line-height: 50px;
    border: .5px solid #333;
    float: left;
    list-style: none;
    background: #c7edcd;
}
.container ul {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
}
.container{
    border: 1px solid #333;
    width: 1216px;
}
.container:after{
    clear: both;
    content: '.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
